body {
    background-color: rgb(78, 109, 128);
    font-family: Georgia, serif;
}

h1 { 
    color: rgb(49, 167, 94);
}

p {
    color: rgb(49, 167, 94);
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration-thickness: 10;
}

.iframe {
    border: none;
    margin: 0;
    padding: 0;
    opacity: 0.75;
    display:block;
}

img {
    border: 5px solid #555;
}