body {
    background-color: rebeccapurple;
}

.container {

}

.container:hover .overlay {
    opacity: 1
}

.overlay {
    opacity: 0;
    transition: .5s ease;
}

h1 { 
    color: powderblue;
}

p {
    color: turquoise;
}